@font-face {
    font-family: 'OpenSansRegular';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Regular-webfont.svg#open_sansbold') format('svg');
}

@font-face {
    font-family: 'OpenSansBold';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/OpenSans-Bold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
}

@font-face {
    font-family: 'OpenSansExtraBold';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/OpenSans-ExtraBold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-ExtraBold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-ExtraBold-webfont.svg#open_sansbold') format('svg');
}

@font-face {
    font-family: 'fontello';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/fontello.woff?4125738') format('woff'),
         url('../fonts/fontello.ttf?4125738') format('truetype'),
         url('../fonts/fontello.svg?4125738#fontello') format('svg');
}

html, body {
    background-color: #93278F;
    color: #FFF;
    font-family: 'OpenSansRegular';
    font-size: 16px;
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
}

a {
    color: #FFF;
    outline: 0;
    text-decoration: none;
}

#background {
    background-position: center center;
    background-size: cover;
    bottom: 0;
    left: 0;
    margin: -50px;
    position: absolute;
    right: 0;
    top: 0;
}

#logo {
    position: absolute;
    text-align: center;
    top: 20px;
    width: 100%;
}

#album-cover {
    background-clip: padding-box;
    background-color: #000;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 6px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    height: 144px;
    left: 50%;
    margin: -118px 0 0 -78px;
    position: absolute;
    top: 50%;
    width: 144px;
}

#song-info {
    font-size: 12px;
    left: 0;
    line-height: 1.2;
    margin: 45px auto 0 auto;
    position: absolute;
    right: 0;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.5) 1px 1px;
    top: 50%;
    width: 100%;
}

#song-title {
    font-family: 'OpenSansExtraBold';
    font-size: 16px;
}

#song-artist {
    font-family: 'OpenSansBold';
    font-size: 14px;
    line-height: 1.5;
}

#controls {
    background-color: rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    bottom: 26px;
    display: flex;
    font-family: 'fontello';
    font-size: 24px;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    text-shadow: rgba(0, 0, 0, 0.5) 1px 1px;
    width: 100%;
}

#controls li {
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    flex: 1 1 auto;
}

#controls li:last-child {
    border: none;
}

#controls a {
    background: transparent;
    display: block;
    text-align: center;
    padding: 15px 0;
    width: 100%;
}

#play-stop {
    background-color: rgba(255, 255, 255, 0.1) !important;
}

#currents {
    background-color: rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    bottom: 0;
    font-size: 12px;
    height: 25px;
    position: absolute;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.5) 1px 1px;
    width: 100%;
}

#station,
#quality {
    display: inline-block;
    padding: 4px 5px 0 5px;
}

#station:before {
    content: '\e804';
    font-family: 'fontello';
}

#quality:before {
    content: '\e805';
    font-family: 'fontello';
}

.fake-modal {
    background-color: rgba(147, 39, 143, 0.85);
    bottom: 0;
    display: none;
    left: 0;
    padding: 20px 20px 20px 20px;
    position: absolute;
    right: 0;
    top: 0;
}

.fake-modal h1 {
    font-family: 'OpenSansBold';
    font-size: 18px;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    text-align: center;
}

.fake-modal p {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    text-align: center;
}

.fake-modal-container {
    margin: 0 auto;
    max-width: 350px;
}

.options {
    list-style: none;
    margin: 0;
    padding: 0;
}

.options a {
    border: 2px solid #FFF;
    border-radius: 5px;
    display: block;
    font-family: 'OpenSansBold';
    margin: 0 auto 10px auto;
    padding: 5px 0 7px 0;
    text-align: center;
    width: 200px;
}

.options a.selected {
    background-color: #FFF;
    color: #93278F;
}